<div class="container">
    <div class="bg-main-light p-4 my-4">
        <h3>Shop Cart</h3>
        <h6 class="text-main">Total Price: {{CartDetails?.totalCartPrice}}EGP</h6>
        <div *ngFor="let product of CartDetails?.products" class="row align-items-center border-bottom py-3">
            <div class="col-md-1">
                <img [src]="product.product.imageCover" class="w-100">
            </div>
            <div class="col-md-11 d-flex justify-content-between">
                <div>
                    <h5>{{product.product.title}}</h5>
                    <h6 class="text-main">Price:{{product.price}}</h6>
                    <button (click)="removeItem(product.product._id)" class="btn m-0 p-0"><i class="text-main fa-regular fa-trash-can"></i>Remove</button>

                </div>
                <div>
                    <button (click)="updateItemCount(product.product._id,product.count+1)" class="btn border-main btn-sm">+</button>
                    <span class="mx-2">{{product.count}}</span>
                    <button (click)="updateItemCount(product.product._id,product.count-1)" class="btn border-main btn-sm">-</button>

                </div>



            </div>
        </div>

        <button class="btn bg-main text-white my-3">
            <a routerLink="/checkout">
                Online Payment <img src="../../assets/images/visa-svgrepo-com (1).svg" height="30">

            </a>
            </button>
    </div>


</div>