<div class="w-50 mx-auto my-5">
    <form [formGroup]="shippingAddress" (ngSubmit)="handleSumbit(shippingAddress)" >
<label for="details">Details:</label>
<input id="details" type="text" class="form-control mb-2 " formControlName="details">

<label for="phone">Phone:</label>
<input id="phone" type="tel" class="form-control mb-2 " formControlName="phone">

<label for="city">City:</label>
<input id="city" type="text" class="form-control mb-2 " formControlName="city">


<div>
    <button type="submit" class="btn bg-main text-white">Pay</button>
</div>


    </form>
</div>